#loki1{
width:100px;
height:100px;
background-color: blue;
font-family: 'Times New Roman';
padding-top:50px;
font-family: 20px;
margin-bottom:20px;
margin-left:100px;

}

#loki2{
width:100px;
height:100px;
background-color: red;
font-family: Courier;
padding-top:50px;
font-size:20px;
margin-top:20px;

}

